In [6]:
#Standard Data Types Python

#tuple = immutable, contain any item type, one dimensional 

tuple_1 = (1,2,3,4,5)

#list = mutable, variable length, one dimensional

list_1 = [1,2,3,4,5]

#dict = 

dict_1 = { 'first':1 , 'second':2 , 'three':3}

#set = dictionary but with only keys 

set_1 = (['One','Two', 'Three', 'Four', 'Five'])


#class 

class class_1:
    tuple_2 = 1 
    list_2 = 2
    dict_2 = 3
    set_2 = 4
    class_2 = 5

TypeError: filter expected 2 arguments, got 1

In [2]:
#filter function - map filter reduce

tuple_1 = (1,2,3,4,5)

def filter_function(x):
    x = tuple_1
    if x < 10 :
        print('nobhead')

you = filter(filter_function,tuple_1)

for x in tuple_1:
    print(x)

1
2
3
4
5

In [6]:
#float function turns an integer or string into a floating point number


tuple_1 = (1,2,3,4,5)

x = float(tuple_1[0])
print(x)

y = float('2343')
print(y)

z = float('twat')
print(z)

1.0
2343.0

ValueError: could not convert string to float: 'twat'

In [17]:
#format function places values in place holders defined by {} 

txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))


list_3 = "1,2,3,4,5,{six}"

print(list_3.format(six = 6))

For only 49.00 dollars!
1,2,3,4,5,6

In [18]:
#frozenset creates immutable object from an iterable


tuple_1 = (1,2,3,4,5)

frozenset(tuple_1)

frozenset({1, 2, 3, 4, 5})